*  {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html,body  {
     height: 100%;
     width: 100;
}
#main {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: rgb(121, 119, 126);
    display: flex;
}

#part1  {
    height: 100%;
    width: 26%;
   background-color: rgb(239, 6, 37);
}

#part2  {
    height: 100%;
    width: 68%;
   background-color: rgb(66, 9, 199);
   background-image: url(https://images.unsplash.com/photo-1682687980976-fec0915c6177?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
   background-size: cover;
   background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.407);
}
#part3  {
    height: 100%;
    width: 6%;
   background-color: rgba(11, 213, 7, 0.307);
}
#text-div{
    height: 300px;
    position: absolute;
    width: 400px;
    background-color: ;
    left: 20%;
    top: 30%;
}
#text-div>h1{
      font-size: 75px;
      font-family: monument;
      letter-spacing: 8px;
      font-weight: 900;
      line-height: 75px;
      color:white ;
      text-transform: uppercase;
}
#small-image-div{
    height: 400px;
    width: 300px;
    background-image: url(https://i.pinimg.com/originals/87/ae/83/87ae8360cfe56fda3b49e609eb3b7c25.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
}
#vertical-text{
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translate(0,-50%);
    transform: rotate(90deg);
    font-size: 35px;
    letter-spacing: 8px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(164, 213, 234);
}
